<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='form_page.css') }}">
    <title>Add Author</title>
  </head>
  <body>
    <div class="form-container">
      <form action="/add_author" method="POST">
        <h2>Add Author</h2>
        <label for="name">Author Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="birth_year">Birth Year:</label>
        <input type="number" id="birth_year" name="birth_year" required>

        <label for="death_year">Death Year:</label>
        <input type="number" id="death_year" name="death_year">

        <input type="submit" value="Add Author">
      </form>
    </div>
  </body>
</html>
